body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.logo {
    margin-bottom: 20px;
    width: 272px;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 5px 10px;
    width: 484px;
    transition: box-shadow 0.2s;
}

.search-bar:hover {
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.search-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
}

.search-icon {
    color: #9aa0a6;
    margin-right: 10px;
    font-size: 20px;
}

#mic {
    color: #9aa0a6;
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s;
    width: 35px;
}

#mic:hover {
    transform: scale(1.1);
}

.buttons {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    margin: 5px;
    font-size: 14px;
    color: #3c4043;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #f1f3f4;
    border: 1px solid #dadce0;
}
